.container-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-margin-top: 60px;
}
.container-experience p {
  font-size: 15px;
  color: rgb(151, 60, 255);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "SF Pro", monospace;
}
.subcontainer-experience {
  border-radius: 10px;
  width: 60%;
  position: relative;
  padding: 2rem 1.9375rem;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.timeline-block {
  width: 47%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  clear: both;
}
.timeline-block-right {
  float: right;
}
.timeline-block-left {
  direction: rtl;
}
.timeline-content {
  width: 100%;
  padding: 1rem 1.9375rem;
  direction: ltr;
  border-radius: 10px;
  background-color: rgba(58, 58, 58, 0.25);
  backdrop-filter: blur(4px);
}
.experience-wrapper {
  position: relative;
  padding: 2rem 0 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.experience-wrapper:before {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -0.00625rem;
  width: 0.08rem;
  height: 100%;
  background: rgb(151, 60, 255);
  z-index: 1;
}
.mention {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
.mention:hover {
  color: #d90048;
}
.date {
  font-size: 14px;
}
.timeline-content h3,
.date {
  color: #58fff1;
  font-weight: bold;
}