.container-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-margin-top: 60px;
}
.container-experience p {
  font-size: 15px;
  color: rgb(151, 60, 255);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "SF Pro", monospace;
}
.subcontainer-experience {
  width: 60%;
  position: relative;
  padding: 2rem 1.9375rem;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.timeline-content h3 {
  font-size: 22px;
}
.date {
  font-size: 20px;
}
.timeline-content h3,
.date {
  color: #58fff1;
  font-weight: bold;
}
.timeline-block {
  width: 47%;
  clear: both;
}
.timeline-block-right {
  float: right;
}
.timeline-block-left {
  direction: rtl;
}
.timeline-content {
  width: 100%;
  padding: 1rem 1.9375rem;
  direction: ltr;
  border-radius: 10px;
  background-color: rgba(58, 58, 58, 0.25);
  backdrop-filter: blur(4px);
}
.experience-wrapper {
  position: relative;
  padding: 2rem 0 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.experience-wrapper:before {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -0.00625rem;
  width: 0.08rem;
  height: 100%;
  background: rgb(151, 60, 255);
  z-index: 1;
}
.mention {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
.mention:hover {
  color: #58fff1;
}

@media screen and (max-width: 384px) {
  .container-experience {
    scroll-margin-top: 40px;
  }
  .container-experience p {
    font-size: 11px;
  }
  .subcontainer-experience {
    width: 100%;
  }
  .timeline-content h3 {
    font-size: 14px;
  }
  .date {
    font-size: 13px;
  }
  .timeline-block {
    width: 100%;
    margin: 10px 0;
  }
  .timeline-block-right {
    float: right;
  }
  .timeline-block-left {
    direction: ltr;
    float: right;
  }
  .timeline-content {
    width: 100%;
  }
  .experience-wrapper:before {
    display: none;
  }
}
@media screen and (min-width: 385px) and (max-width: 576px) {
  .container-experience {
    scroll-margin-top: 45px;
  }
  .container-experience p {
    font-size: 11px;
  }
  .subcontainer-experience {
    width: 100%;
  }
  .timeline-content h3 {
    font-size: 14px;
  }
  .date {
    font-size: 13px;
  }
  .timeline-block {
    width: 100%;
    margin: 10px 0;
  }
  .timeline-block-left {
    float: right;
  }
  .experience-wrapper:before {
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .container-experience p {
    font-size: 13px;
  }
  .subcontainer-experience {
    width: 70%;
  }
  .timeline-content h3 {
    font-size: 20px;
  }
  .date {
    font-size: 18px;
  }
  .timeline-block {
    width: 100%;
    margin: 10px 0;
  }
  .timeline-block-left {
    float: right;
  }
  .experience-wrapper:before {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1152px) {
  .subcontainer-experience {
    width: 85%;
  }
}
@media screen and (min-width: 1153px) and (max-width: 1536px) {
  .subcontainer-experience {
    width: 85%;
  }
}
@media screen and (min-width: 1921px) {
  .container-experience {
    scroll-margin-top: 70px;
  }
  .container-experience p {
    font-size: 22px;
  }
  .subcontainer-experience {
    width: 65%;
    padding: 4rem 1.9375rem;
  }
  .timeline-content h3 {
    font-size: 30px;
  }
  .date {
    font-size: 28px;
  }
  .experience-wrapper {
    padding: 4rem 0 1rem;
  }

}